doctype 5
html
  head
    title Francesco's Raspberry PI node.js
    link(rel='stylesheet', href='lib/express-style.css')
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

    // Load external js libs
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="/socket.io/socket.io.js")
    
  body
    section#content
      header
        nav.clearfix
          a.active(href="#") Home
          a(href="#about") About
          span#temp
            a#temp Temperature

  block content

  footer
    div#footer-content.clearfix
      p
        | (c) 2013 Francesco Vozza. All rights reserved -
        | Powered by: raspberry pi | node.js | express | jade | mongodb | 1wire |
        a(href="https://github.com/fvozza/sensorpi") Code@GitHub

  block script
 