extends layout

block content
  section#logo
    span.express
      | Coming Soon
    span.description
      | Something with 
      a(href="http://www.raspberrypi.org/", title="Raspberry PI") Raspberry PI
  section#chart
    a This is a chart
  section#intro
    div.content
      div#boxes.clearfix
        section#about
          h3 About
          p
            | Building something cool (?) with 
            | Raspberry PI, node.js and 1-wire sensors
          
block script
  script
    var development = !{JSON.stringify(development)};
  include ../lib/frontend.js